spring:
  application:
    name: clearplate

  #kakao
    security:
      oauth2:
        client:
          registration:
            kakao:
              client-id:
              client-secret:
              client-authentication-method: client_secret_post
              redirect-uri: {baseUrl}/login/oauth2/code/{registrationId}
              scope: profile_nickname
              authorization-grant-type: authorization_code
          provider:
            kakao:
              authorization-uri: https://kauth.kakao.com/oauth/authorize
              token-uri:
              user-info-uri:
              user-name-attribute:


  #mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/clp?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username:
    password:

  jpa:
    hibernate:
      ddl-auto: update

# openAPI, swagger
springdoc:
  api-docs:
    version: OPENAPI_3_0


