spring:
  application:
    name: clearplate

  # kakao OAuth2 설정
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id:
            client-secret:
            client-authentication-method: client_secret_post
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: profile_nickname
            authorization-grant-type: authorization_code
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
  #mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/clp?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username:
    password:

  jpa:
    hibernate:
      ddl-auto: update

# openAPI, swagger
springdoc:
  api-docs:
    version: OPENAPI_3_0

# JWT (15 minute),(30 days)
jwt:
  accessTokenExpirationTime: 900000
  refreshTokenExpirationTime: 2592000000
  secretKey:

# 서버 인코딩 설정
server:
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true




